<!DOCTYPE html>
<html>
<head>
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" as="script">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js" as="script">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <meta property="og:title" content="梗体中文 · 在线打包">
    <meta property="og:type" content="website">
    <meta property="og:description" content="梗体中文资源包在线打包系统，帮助用户打包。">
	<title>梗体中文 · 在线打包</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        .log {
            display: block;
            overflow: auto;
            background: #f4f4f4;
            padding: 5px 10px;
            border: 1px solid #eee;
            word-wrap: break-word;
            /* Internet Explorer 5.5+ */
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <nav>
        <div class="nav-wrapper light-blue darken-1">
            <a href="#" class="brand-logo center">梗体中文 · 在线打包</a>
        </div>
    </nav>
    <div class="container">
        <!--WIP-->
        <form id="argument">
            <div class="row">
                <div class="col s12">
                    <h1>在线打包选项</h1>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <select name="type">
                        <option value="normal">普通版本</option>
                        <option value="compat">兼容版本</option>
                    </select>
                    <label>语言版本</label>
                </div>
                <div class="input-field col s4">
                    <select name="figure" id="figureOption">
                        <option value="all">全部</option>
                        <option value="none">无</option>
                        <option value="custom">自定义（见下）</option>
                    </select>
                    <label>材质选择</label>
                </div>
                <div class="input-field col s4">
                    <select name="include" id="modOption">
                        <option value="all">所有Mod内容</option>
                        <option value="none">无Mod内容</option>
                        <option value="custom">自定义（见下）</option>
                    </select>
                    <label>Mod内容选择</label>
                </div>
                <div class="col s12">
                    <label>
                        <input type="hidden" name="sfw" value="false">
                        <input type="checkbox" class="filled-in" name="sfw" value="true">
                        <span>Suitable for work ("_sfw")</span>
                    </label><br>
                    <label>
                        <input type="hidden" name="legacy" value="false">
                        <input type="checkbox" class="filled-in" name="legacy" value="true">
                        <span>旧版（1.12.2以下）语言文件格式</span>
                    </label><br>
                    <label>
                        <input type="hidden" name="debug" value="false">
                        <input type="checkbox" class="filled-in" name="debug" value="true">
                        <span>查看调试信息</span>
                    </label>
                </div>
                <div class="input-field col s6">
                    <select name="include" multiple id="includeList">
                        <optgroup label="Mod文件">
                            {% for item in mods %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Mod文件（未汉化）">
                            {% for item in enmods %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="附加内容">
                            {% for item in optionals %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <label>Mod/附加内容选择</label>
                </div>
                <div class="input-field col s6">
                    <select name="include" multiple id="figureList">
                        <optgroup label="附加材质">
                            {% for item in figures %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <label>附加包/材质选择</label>
                </div>
            </div>
            <div class="col s3">
                <button type="button" class="waves-effect waves-light btn" id="submitButton"><i
                        class="material-icons left">cloud_download</i>提交构建选项</button>
            </div>
        </form>
        <div class="row">
            <div class="col s12">
                <h1 id="resultTitle" style="display:none;">返回结果</h1>
            </div>
            <pre><code id="message" class="col s12 log" style="display:none"></code></pre>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js"></script>
    <script type="text/javascript">$(document).ready(function () { $('select').formSelect(); });</script>
    <script type="text/javascript">
        function HTMLEncode(html) {
            var temp = document.createElement("div");
            (temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
            var output = temp.innerHTML;
            temp = null;
            return output;
        }
        $('#submitButton').click(function () {
            $("#submitButton").addClass("disabled")
            var formObject = {}
            var formArray = $("#argument").serializeArray();
            console.log(formArray);
            var includeList = $("#includeList").serializeArray();
            var figureList = $("#figureList").serializeArray();
            console.log(includeList);
            var includeList2 = [];
            var figureList2 = [];
            for (var p in includeList){
                includeList2.push(includeList[p]['value']);
            }
            for (var p in figureList){
                figureList2.push(figureList[p]['value']);
            }
            $.each(formArray, function (i, item) {
                formObject[item.name] = item.value;
            });
            for (var p in formObject) {
                formObject[p] = (formObject[p] === 'false' ? false : formObject[p]);
                formObject[p] = (formObject[p] === 'true' ? true : formObject[p]);
            }
            console.log(formArray[1]);
            if (formArray[1]['value'] == "all"){
                figureList2.push("all");
            }
            else if (formArray[1]['value'] == 'none'){
                figureList2.push("none");
            }
            if (formArray[5]['value'] == "all"){
                includeList2.push("all");
            }
            else if (formArray[5]['value'] == 'none'){
                includeList2.push("none");
            }
            formObject['include'] = includeList2;
            formObject['figure'] = figureList2;
            console.log(JSON.stringify(formObject));
            $.ajax({
                url: "/ajax",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(formObject),
                dataType: "json",
                success: function (data) {
                    $("#resultTitle").css("display","block");
                    $("#message").css("display","block");
                    var jsondata = data
                    console.log(jsondata["argument"]);
                    var status = jsondata["code"]
                    var logs = jsondata["logs"]
                    var fileUrl = "/files/" + jsondata["filename"]
                    var argument = JSON.stringify(jsondata["argument"])
                    $("#message")[0].innerHTML += ("状态码：" + HTMLEncode(status) + "<br>参数：" + HTMLEncode(argument) + "<br>下载：<a href=\"" + encodeURI(HTMLEncode(fileUrl)) + "\">点击这里</a><br>日志：<br>" + HTMLEncode(logs) + "<hr>");
                },
                error: function (e) {
                    $("#resultTitle").css("display","block");
                    $("#message").css("display","block");
                    var jsondata = JSON.stringify(e)
                    console.log(jsondata);
                    $("#message").html() += (HTMLEncode(jsondata) + "<hr>");
                }
            });
            $("#submitButton").removeClass("disabled")
        });
    </script>
</body>
</html>
