<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>梗体中文 · 在线打包</title>
    <meta content="梗体中文 · 在线打包" property="og:title">
    <meta content="website" property="og:type">
    <meta content="梗体中文资源包在线打包系统，帮助用户打包。" property="og:description">
    <script src="https://cdn.jsdelivr.net/combine/npm/axios@0.19.2/dist/axios.min.js,npm/vue@2,npm/vuetify@2,npm/moment@2.24.0/min/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <style>
        .v-main__wrap > container {
            margin-top: 16px;
        }
        .v-alert {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-app-bar
                    outlined prominent
                    color="indigo darken-2">
                <v-toolbar-title>梗体中文 · 在线打包</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon href="https://github.com/lakejason0/mcwzh-meme-resourcepack">
                    <v-icon>mdi-github</v-icon>
                </v-btn>
            </v-app-bar>
            {% if header_existence %}
                {% include './custom/header.html' %}
            {% endif %}
            <v-container>

                <v-row>
                    <v-col cols="6" sm="4">
                        <v-select label="语言版本" :items="consts.type" v-model="inputBasic.type"></v-select>
                    </v-col>
                    <v-col cols="6" sm="4">
                        <v-select label="材质选择" :items="consts.figureOption" v-model="input.figureOption"></v-select>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-select label="Mod内容选择" :items="consts.modOption" v-model="input.modOption"></v-select>
                    </v-col>
                </v-row>
                <v-checkbox label='Suitable for work ("_sfw")' v-model="inputBasic.sfw"></v-checkbox>
                <v-checkbox label='旧版（1.12.2以下）语言文件格式' v-model="inputBasic.legacy"></v-checkbox>
                <v-checkbox label='调试模式' v-model="inputBasic.debug"></v-checkbox>
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-select
                                label="Mod/附加内容选择" :disabled="input.modOption !== 'custom'" multiple
                                :items="consts.modList" v-model="input.include"
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-select label="附加包/材质选择" :disabled="input.figureOption !== 'custom'" multiple
                                  :items="consts.figureList" v-model="input.figure"></v-select>
                    </v-col>
                </v-row>
                <v-btn color="primary" @click="submit" :disabled="loading" :loading="loading">
                    <v-icon left>cloud_download</v-icon>
                    提交构建选项
                </v-btn>
                <div v-if="logs.length >= 1">
                    <v-divider style="margin:15px 0"></v-divider>
                    <p class="headline" ref="logs">构建日志</p>
                    <v-expansion-panels v-model="logsPanel" multiple>
                        <v-expansion-panel
                                v-for="(item,i) in logs"
                                :key="i"
                        >
                            <v-expansion-panel-header>
                                {% raw %}{{moment(new Date(item.ts)).format('YYYY-MM-DD HH:mm:ss')}} {{ item.title }}{% endraw %}
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <pre style="padding-bottom:15px;white-space: pre-wrap;font-family: 'Cascadia Code', 'Fira Code','Consolas', monospace;">{% raw %}{{item.content}}{% endraw %}</pre>
                                <v-btn v-if="item.filename" @click="download(item.filename)" outlined color="indigo">
                                    下载
                                </v-btn>
                                <v-btn v-else
                                       @click="download('https://github.com/lakejason0/mcwzh-meme-resourcepack/issues/new/choose')"
                                       dark color="black">
                                    <v-icon left>bug_report</v-icon>
                                    反馈
                                </v-btn>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
            </v-container>
            <v-footer class="font-weight-medium">
                {% if footer_existence %}
                    {% include './custom/footer.html' %}
                {% endif %}
            </v-footer>
        </v-content>
    </v-app>
</div>
<script>
    new Vue({
        el: '#app',
        methods: {
            download(name) {
                window.open(name)
            },
            submit() {
                this.loading = true
                let data = Object.assign({}, this.inputBasic, {
                    figure: this.input.figureOption === 'all' ? ['all'] : this.input.figure,
                    include: this.input.modOption === 'all' ? ['all'] : this.input.include,
                    hash: true
                })
                console.log(data)
                axios({url: '/ajax', method: 'POST', data}).then(function (res) {
                    console.log(res.data)
                    this.logs.unshift({
                        title: '构建成功',
                        ts: new Date().valueOf(),
                        content: res.data.logs,
                        filename: res.data.filename
                    })
                    this.logsPanel = this.logsPanel.map(v => v + 1)
                    this.logsPanel.unshift(0)
                    this.$nextTick(function () {
                        this.$refs.logs.scrollIntoView()
                    }.bind(this))
                    this.loading = false
                }.bind(this)).catch(function (err) {
                    this.logs.unshift({
                        title: '构建失败',
                        ts: new Date().valueOf(),
                        content: err.toString()
                    })
                    this.logsPanel = this.logsPanel.map(v => v + 1)
                    this.logsPanel.unshift(0)
                    this.$nextTick(function () {
                        this.$refs.logs.scrollIntoView()
                    }.bind(this))
                    this.loading = false
                }.bind(this))
            }
        },
        data: () => ({
            logsPanel: [],
            loading: false,
            inputBasic: {
                type: "normal",
                sfw: false,
                legacy: false,
                debug: false
            },
            logs: [],
            input: {
                figureOption: "all",
                modOption: "all",
                figure: [],
                include: []
            }
        }),
        computed: {
            consts: () => ({
                type: [{text: "普通版本", value: "normal"}, {text: "兼容版本", value: "compat"}],
                figureOption: [{text: "全部", value: "all"}, {text: "无", value: "none"}, {
                    text: "自定义",
                    value: "custom"
                }],
                modOption: [{text: "所有Mod内容", value: "all"}, {value: "none", text: "无Mod内容"}, {
                    value: "custom",
                    text: "自定义"
                }],
                modList: [{header: 'Mod文件'}].concat({{ mods|tojson }}).concat({header: 'Mod文件(未汉化)'})
                    .concat({{ enmods|tojson }}).concat({header: '附加内容'}).concat({{ optionals|tojson }}),
                figureList: {{ figures|tojson }}
            })
        },
        vuetify: new Vuetify(),
    })
</script>
</body>
</html>
